<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :flight_number %><br>
    <%= f.text_area :flight_number, :required => true, :class=> "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :to %><br>
    <%= f.text_area :to, :class=> "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :from %><br>
    <%= f.text_area :from, :class=> "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :flight_date %><br>
    <%= f.date_select :flight_date, :class=> "form-control" %>
  </div>
  <div class="field form-group">
  <%= f.label :airplane %><br>
  <%= f.select :airplane_id, Airplane.all.map { |airplane| [ airplane.name, airplane.id ] }, :include_blank => true, :class=> "form-control" %>
</div>
  <div class="actions">
    <%= f.submit :class => 'submit btn btn-primary'%>
  </div>
<% end %>
