<p id="notice"><%= notice %></p>

<p>
  <strong>Airplane Name:</strong>
  <%= @airplane.name %>
</p>

<p><strong>Flights:</strong>
	<% @airplane.flights.each do |flight| %>
		<li><%= link_to(flight.flight_number, flight) %>: <%= flight.flight_date %></li>
	<% end %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @airplane.rows %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @airplane.columns %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
