<p id="notice"><%= notice %></p>

<p>
  <strong>Name :</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email :</strong>
  <%= @user.email %>
</p>

<hr />

<p>
	<% @user.reservations.each do |reservation| %>
	<ul>
		<li><strong>Reservation ID : <%= link_to(reservation.id, reservation) %></strong></li>
		<li><strong>Flight Number : <%= reservation.flight.flight_number %></strong></li>
	</ul>

	<% end %>
</p>

