<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
  <%= f.label :flight %><br>
  <%= f.select :flight_id, Flight.all.map { |flight| [ flight.flight_number + " : " + flight.from + " to " + flight.to ] }, :include_blank => true, :class=> "form-control" %>
</div>

  <div class="field form-group">
    <%= f.label :row %><br>
    <%= f.number_field :row, in: 2..5, :class=> "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :column %><br>
    <%= f.number_field :column, in: 10..50, :class=> "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'submit btn btn-primary' %>
  </div>
<% end %>
