<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<table class="table table-striped">
  <thead>
    <tr class="danger">
      <th>Name</th>
      <th>Seat</th>
      <th>Flight</th>
      <th>Date of Travel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.display_row %><%= reservation.column %></td>
        <td><%= reservation.flight.flight_number %></td>
        <td><%= reservation.flight.flight_date.strftime "%A, %e %B %Y" %></td>
        <% if ( @current_user.present? && @current_user.admin? ) || ( @current_user === reservation.user ) %>
          <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td> - </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


