<!DOCTYPE html>
<html>
<head>
  <title>TheBurningAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></a>
      <% if @current_user.present? %>
      <a class="navbar-brand" href="<%= flights_search_path %>"> Search</a>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if @current_user.present? && @current_user.admin? %>
          <li><a href="<%= airplanes_path %>">Planes</a></li>
	      <% end %>

        <% if @current_user.present? %>
          <li><a href="<%= flights_path %>">Flights<span class="sr-only">(current)</span></a></li>   
          <li><a href="<%= reservations_path %>">Reservations</a></li>  
          <li class="dropdown">
            <a href="<%= users_path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_path( @current_user ) %></li>
              <li><%= link_to 'View Profile', user_path( @current_user ) %></li>
              <li><%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :data => { :confirm => 'Are you sure you want to logout?' } %></li>
            </ul>     
        <% else %>
            <li><a href="<%= new_user_path %>">Create Account</a></li>
            <li><a href="<%= login_path %>">Login</a></li>
        <% end %>                
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<%= yield %>

</body>
</html>
